serverless-trading-system-stack/src/resources/stateMachines/marketDataManagerParallelStateMachine.json
{
  "Comment": "Market data manager parallel",
  "StartAt": "ParallelMarketData",
  "States": {
    "ParallelMarketData": {
      "Type": "Map",
      "InputPath": "$.detail",
      "ItemsPath": "$.tickers",
      "MaxConcurrency": 5,
      "Iterator": {
        "StartAt": "GetMarketData",
        "States": {
          "GetMarketData": {
            "Type": "Task",
            "Resource": "${MarketDataManagerParallelLambda}",
            "End": true
          }
        }
      },
      "ResultPath": "$.detail.tickers",
      "OutputPath": "$.detail",
      "Next": "MarketDataManagerPostMapState"
    },
    "MarketDataManagerPostMapState": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${MarketDataManagerPostMapStateLambda}"
      },
      "Next": "Any historical data retrieved?"
    },
    "Any historical data retrieved?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.retrievedAnyItem",
          "StringEquals": "Y",
          "Next": "Process newly retrieved data"
        },
        {
          "Variable": "$.retrievedAnyItem",
          "StringEquals": "N",
          "Next": "No historical data retrieved"
        }
      ],
      "Default": "Fail"
    },
    "Process newly retrieved data": {
      "Type": "Pass",
      "End": true
    },
    "No historical data retrieved": {
      "Type": "Pass",
      "End": true
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}