serverless-trading-system-stack/src/resources/stateMachines/marketDataManagerParallelStateMachine.json
{
  "Comment": "Market data manager with map state, triggered by an API Gateway endpoint",
  "StartAt": "Retrieve historical data and quote summary",
  "States": {
    "Retrieve historical data and quote summary": {
      "Type": "Map",
      "InputPath": "$.detail",
      "ItemsPath": "$.tickers",
      "MaxConcurrency": 5,
      "Iterator": {
        "StartAt": "Get historical data and quote summary",
        "States": {
          "Get historical data and quote summary": {
            "Type": "Task",
            "Resource": "${HistoricalDataAndQuoteSummaryManagerLambda}",
            "End": true
          }
        }
      },
      "ResultPath": "$.detail.tickers",
      "OutputPath": "$.detail",
      "Next": "Determine whether any historical data has been retrieved"
    },
    "Determine whether any historical data has been retrieved": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${DetermineIfDataRetrievedPostMapStateLambda}"
      },
      "Next": "Any historical data retrieved?"
    },
    "Any historical data retrieved?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.retrievedAnyItem",
          "StringEquals": "Y",
          "Next": "Process newly retrieved data"
        },
        {
          "Variable": "$.retrievedAnyItem",
          "StringEquals": "N",
          "Next": "No historical data retrieved"
        }
      ],
      "Default": "Fail"
    },
    "Process newly retrieved data": {
      "Type": "Pass",
      "End": true
    },
    "No historical data retrieved": {
      "Type": "Pass",
      "End": true
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}